@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
	font-size: 16px; /* 1rem = 10px */
	font-family: 'NanumSquare', sans-serif;
}

body {
	width: 100%;
	margin: 0;
}

img,
h1,
h2,
h3,
p {
	margin: 0;
	line-height: 1.4rem;
}

h1 {
	font-weight: 800;
	color: #000000;
}

h2 {
	font-weight: 700;
	color: #121212;
}

h3 {
	font-weight: 700;
	color: #121212;
}

p {
	font-weight: 400;
	color: #545454;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}
